.parent {
    width: 2335px;
    height: 60px;
    gap: 12px;
    overflow: hidden;
    display: flex;
    align-items: center;
    background: #F54932;
}

.child {
    font-family: Merriweather;
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    animation: marquee 10s;
}

.child1 {   
    width: 544px;
}

.child2 {
    width: 587px;
}

.child3 {
    width: 440px;
}


@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}
  

.carousel-container {
    position: relative;
    width: 900px;
    overflow: hidden;
}
  
.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    flex: 0 0 auto;
    width: 300px;
    height: 200px;
    background-color: #ccc;
}

#prevBtn,
#nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#prevBtn {
    left: 0;
}

#nextBtn {
    right: 0;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
  